/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    padding: 2rem;
  }
  
  #quiz-container,
  #take-quiz-container,
  #quiz-result-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
  
  .hidden {
    display: none;
  }
  
  #questions-container {
    margin-top: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #555;
  }
  